* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
  background: #fbffed;
}

.contact {
  padding-bottom: 20px;
}
.contact .main-form {
  border-radius: 90px;
  background: #117049;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 20px;
}
.contact .button-yellow {
  margin-left: 5%;
}
.contact .form-grid {
  display: grid;
  padding-bottom: 20px;
  grid-template-columns: 50% 50%;
}
.contact .form-grid .form1 {
  width: 70%;
  margin-left: 10%;
  margin-right: auto;
}
.contact .form-grid .form-grid-item {
  display: flex;
  flex-direction: column;
}
.contact .form-grid .form-grid-item h2 {
  color: white;
}
.contact .form-grid .form-grid-item input {
  background: #fbffed;
  border-radius: 30px;
  padding: 10px 25px;
  font-weight: 600;
  outline: 0px;
  border-width: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #b71704;
}
.contact .form-grid .form-grid-item #textarea {
  height: 100%;
  width: 70%;
}

.rules {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.rules h3 {
  padding-top: 10px;
  padding-bottom: 30px;
  font-weight: 600;
}
.rules p {
  font-weight: 300;
}

.products .products-grid {
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: 50% 50%;
  padding: 10px;
}
.products .products-grid .products-grid-item {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 30px 55px;
  border-radius: 90px;
  background: #117049;
  display: flex;
  flex-direction: column;
}
.products .products-grid .products-grid-item img {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.products .products-grid .products-grid-item .product_info h3 {
  color: white;
}
.products .products-grid .products-grid-item .product_info p {
  color: white;
  margin-bottom: 25px;
}
.products .products-grid .products-grid-item .product_info .price {
  color: #f5d95f;
}

.twister {
  font-weight: 600;
  color: #f5d95f;
}

.justify-content-evenly {
  display: flex;
  justify-content: space-evenly;
}

.align-items-center {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.nav-main a {
  font-weight: 700;
  color: #333333;
  font-size: 1.6rem;
}
.nav-main a:hover {
  color: #b71704;
}
.nav-main a.contact {
  border-radius: 50px;
  background: #b71704;
  color: #ffffff;
  padding: 15px 40px;
}

.blob1 {
  position: relative;
}
.blob1 img {
  width: 100%;
  height: auto;
}
.blob1 h1 {
  position: absolute;
  left: 45%;
  top: 34%;
  font-size: 3.6vw;
  transform: translate(-45%, -20%);
  color: white;
}

.blob2 {
  position: absolute;
  left: 65%;
  top: 80%;
  transform: translate(-70%, -80%);
}
.blob2 img {
  width: 100%;
  height: auto;
}
.blob2 h2 {
  position: absolute;
  width: 70%;
  left: 30%;
  top: 20%;
  font-size: 1.3vw;
  transform: translate(-20%, -20%);
  color: white;
  font-weight: 200;
}

.img_party {
  width: 60%;
}

.grid-container {
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: 50% 50%;
  padding: 10px;
}
.grid-container .grid-item {
  position: relative;
}

.grid-container-product {
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 40% 60%;
  padding: 10px;
}
.grid-container-product .grid-item {
  position: relative;
}

.blob1_2 {
  position: relative;
}
.blob1_2 img {
  width: 70%;
}
.blob1_2 h1 {
  position: absolute;
  width: 55%;
  left: 20%;
  top: 30%;
  transform: translate(-20%, -20%);
  font-size: 2.8vw;
  font-weight: 200;
  color: white;
}

.blob2_1 {
  position: absolute;
  top: -14%;
  right: 25%;
}
.blob2_1 img {
  width: 12vw;
}

.rounded-block {
  margin-top: 50px;
  width: 100%;
  border-radius: 200px;
  background: #117049;
}

.main_page_product .product_info {
  padding-top: 50px;
  color: white;
}
.main_page_product .product_info h3 {
  font-size: 1.7rem;
}
.main_page_product .product_info p {
  padding-top: 25px;
  font-weight: 300;
  font-size: 1.4rem;
}
.main_page_product .product_info .price {
  padding-top: 50px;
  color: #f5d95f;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 30px;
}
.main_page_product img {
  height: 80%;
  width: auto;
}

.text-center {
  text-align: center;
  padding: 50px 0px;
}
.text-center h2 {
  padding-bottom: 40px;
}

.button-blue {
  margin: 0px 10px;
  font-weight: 700;
  font-size: 1.3rem;
  border-radius: 50px;
  background: #04508b;
  color: #ffffff;
  padding: 12px 30px;
}
.button-blue:hover {
  color: #b71704;
}

.button-white {
  font-weight: 700;
  font-size: 1.3rem;
  border-radius: 50px;
  background: white;
  color: #04508b;
  padding: 12px 30px;
}
.button-white:hover {
  color: #f5d95f;
}

.button-red {
  margin: 0px 10px;
  font-weight: 700;
  font-size: 1.3rem;
  border-radius: 50px;
  background: #b71704;
  color: #ffffff;
  padding: 12px 30px;
}
.button-red:hover {
  color: #f5d95f;
}

.button-red-blob {
  position: absolute;
  right: 35%;
  bottom: 15%;
  margin: 0px 10px;
  font-weight: 700;
  font-size: 1.9vw;
  border-radius: 50px;
  background: #b71704;
  color: #ffffff;
  padding: 18px 45px;
}
.button-red-blob:hover {
  color: #f5d95f;
}

.button-yellow {
  font-weight: 700;
  font-size: 1.3rem;
  border-radius: 50px;
  background: #f5d95f;
  color: #b71704;
  padding: 12px 30px;
}
.button-yellow:hover {
  color: #117049;
}

footer {
  background: #04508b;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
footer .footer {
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 30% 40% 30%;
  padding: 10px;
}
footer .footer .footer-feedback {
  margin-top: 30px;
}
footer .footer .footer-feedback h2 {
  color: white;
}
footer .footer .footer-feedback input {
  width: 90%;
  background: #f5d95f;
  border-radius: 80px;
  height: 40px;
  margin: 30px 0px;
  border-width: 0px;
  padding-left: 15px;
}
footer .footer .footer-nav {
  display: flex;
  flex-direction: column;
}
footer .footer .footer-nav a {
  font-weight: 700;
  color: white;
  font-size: 1.6rem;
  margin: 13px 0px;
}
footer .footer .footer-nav a:hover {
  color: #b71704;
}

.navigation {
  display: none;
}
.navigation #mobile-logo {
  height: 100px;
}
.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fbffed;
  height: 3rem;
  width: 3rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(183, 23, 4, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  background-image: radial-gradient(#117049, #04508b);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  transition: all 0.4s;
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #f5d95f;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 1.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 1.5rem;
  height: 3px;
  background-color: #04508b;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.5rem;
}
.navigation__icon::after {
  top: 0.5rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -0.5rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 0.5rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Roboto-Bold.ttf");
  /* IE9 Compat Modes */
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Roboto-Medium.ttf");
  /* IE9 Compat Modes */
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Roboto-Regular.ttf");
  /* IE9 Compat Modes */
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/Roboto-Thin.ttf");
  /* IE9 Compat Modes */
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/Roboto-Light.ttf");
  /* IE9 Compat Modes */
  font-display: swap;
}
@media only screen and (max-width: 935px) {
  .nav-main {
    display: none;
  }

  .navigation {
    display: flex;
  }

  .products .products-grid {
    grid-template-columns: 100%;
  }

  .contact .form-grid {
    grid-template-columns: 100%;
  }
  .contact .form1 {
    margin-left: 5% !important;
    width: 70%;
  }
  .contact .form-grid-item h2 {
    color: white;
  }
  .contact .form-grid-item input {
    width: 100%;
    outline: 0px;
    border-width: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #b71704;
  }
  .contact .form-grid-item #textarea {
    margin-left: 5% !important;
    height: 100px !important;
    width: 70%;
  }
}
@media only screen and (max-width: 850px) {
  .grid-container-product {
    grid-template-columns: 100%;
  }

  .rounded-block {
    border-radius: 90px;
  }
  .rounded-block .product_info {
    padding-top: 10px;
    padding-bottom: 65px;
  }
}
@media only screen and (max-width: 750px) {
  footer .footer {
    grid-template-columns: 100%;
  }
  footer .footer .footer-item {
    margin-left: auto;
    margin-right: auto;
  }
  footer .footer .footer-nav {
    margin-top: 20px;
    margin-left: 30px;
  }
}
@media only screen and (max-width: 630px) {
  .grid-container {
    grid-template-columns: 100%;
  }
  .grid-container .grid-item-2:nth-child(1) {
    order: 2;
  }

  .blob1 img {
    width: 100%;
  }
  .blob1 h1 {
    position: absolute;
    left: 45%;
    top: 34%;
    font-size: 1.5rem;
    transform: translate(-45%, -20%);
    color: white;
  }

  .blob2 {
    left: 55%;
    top: 85%;
    transform: translate(-30%, -80%);
  }
  .blob2 img {
    width: 100%;
  }
  .blob2 h2 {
    position: absolute;
    width: 71%;
    left: 28%;
    top: 20%;
    font-size: 0.8rem;
    transform: translate(-20%, -20%);
    color: white;
    font-weight: 200;
  }

  .blob1_2 img {
    width: 100%;
  }
  .blob1_2 h1 {
    position: absolute;
    width: 70%;
    left: 30%;
    top: 30%;
    transform: translate(-20%, -20%);
    font-size: 1.7rem;
    font-weight: 200;
    color: white;
  }

  .blob2_1 {
    top: -10%;
    right: 0;
  }
  .blob2_1 img {
    width: 70%;
  }

  .button-red-blob {
    right: 10%;
    font-size: 1.2rem;
    padding: 14px 20px;
  }

  .button-yellow {
    font-size: 1.2rem;
    padding: 14px 20px;
  }

  .button-red {
    font-size: 1.2rem;
    padding: 14px 20px;
  }

  .button-blue {
    font-size: 1.2rem;
    padding: 14px 20px;
  }
}

/*# sourceMappingURL=main.css.map */
