* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
  background: #fbffed;
}

.twister {
  font-weight: 600;
  color: #f5d95f;
}

.justify-content-evenly {
  display: flex;
  justify-content: space-evenly;
}

.align-items-center {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

nav a {
  font-weight: 700;
  color: #333333;
  font-size: 1.6rem;
}
nav a:hover {
  color: #b71704;
}
nav a.contact {
  border-radius: 50px;
  background: #b71704;
  color: #ffffff;
  padding: 15px 40px;
}

.blob1 {
  position: relative;
}
.blob1 img {
  width: 100%;
}
.blob1 h1 {
  position: absolute;
  left: 45%;
  top: 34%;
  font-size: 3.5rem;
  transform: translate(-45%, -20%);
  color: white;
}

.blob2 {
  position: absolute;
  left: 65%;
  top: 80%;
  transform: translate(-70%, -80%);
}
.blob2 img {
  width: 100%;
}
.blob2 h2 {
  position: absolute;
  width: 70%;
  left: 30%;
  top: 20%;
  font-size: 1.3rem;
  transform: translate(-20%, -20%);
  color: white;
  font-weight: 200;
}

.img_party {
  width: 60%;
}

.grid-container {
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: 50% 50%;
  padding: 10px;
}
.grid-container .grid-item {
  position: relative;
}

.grid-container-product {
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 40% 60%;
  padding: 10px;
}
.grid-container-product .grid-item {
  position: relative;
}

.blob1_2 {
  position: relative;
}
.blob1_2 img {
  width: 70%;
}
.blob1_2 h1 {
  position: absolute;
  width: 55%;
  left: 20%;
  top: 30%;
  transform: translate(-20%, -20%);
  font-size: 2.5rem;
  font-weight: 200;
  color: white;
}

.blob2_1 {
  position: absolute;
  top: 0;
  right: 25%;
}

.rounded-block {
  margin-top: 50px;
  width: 100%;
  border-radius: 200px;
  background: #117049;
}

.main_page_product .product_info {
  padding-top: 50px;
  color: white;
}
.main_page_product .product_info h3 {
  font-size: 1.7rem;
}
.main_page_product .product_info p {
  padding-top: 25px;
  font-weight: 300;
  font-size: 1.4rem;
}
.main_page_product .product_info .price {
  padding-top: 50px;
  color: #f5d95f;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 30px;
}
.main_page_product img {
  height: 80%;
}

.text-center {
  text-align: center;
  padding: 50px 0px;
}
.text-center h2 {
  padding-bottom: 40px;
}

.button-blue {
  margin: 0px 10px;
  font-weight: 700;
  font-size: 1.3rem;
  border-radius: 50px;
  background: #04508b;
  color: #ffffff;
  padding: 12px 30px;
}
.button-blue:hover {
  color: #b71704;
}

.button-red {
  margin: 0px 10px;
  font-weight: 700;
  font-size: 1.3rem;
  border-radius: 50px;
  background: #b71704;
  color: #ffffff;
  padding: 12px 30px;
}
.button-red:hover {
  color: #f5d95f;
}

.button-red-blob {
  position: absolute;
  right: 35%;
  bottom: 15%;
  margin: 0px 10px;
  font-weight: 700;
  font-size: 1.7rem;
  border-radius: 50px;
  background: #b71704;
  color: #ffffff;
  padding: 18px 45px;
}
.button-red-blob:hover {
  color: #f5d95f;
}

.button-yellow {
  font-weight: 700;
  font-size: 1.3rem;
  border-radius: 50px;
  background: #f5d95f;
  color: #b71704;
  padding: 12px 30px;
}
.button-yellow:hover {
  color: #117049;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Roboto-Bold.ttf");
  /* IE9 Compat Modes */
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Roboto-Medium.ttf");
  /* IE9 Compat Modes */
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Roboto-Regular.ttf");
  /* IE9 Compat Modes */
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/Roboto-Thin.ttf");
  /* IE9 Compat Modes */
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/Roboto-Light.ttf");
  /* IE9 Compat Modes */
  font-display: swap;
}

/*# sourceMappingURL=main.css.map */
